main > .section > div.hero-model-wrapper {
    padding: 0;
}

.hero-image picture img {
    max-width: 100%;
    object-fit: contain;
    vertical-align: middle;
}

.hero-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    background: var(--Nissan-Brand-wds2-colour-nissanwhite, #FFF);
}

.hero-overlay .headline {
    color: var(--Nissan-Brand-wds2-colour-nissanblack, #000);
}

.hero-overlay .subheadline {
    order: 2;
}

.hero-overlay .cta-wrapper {
    order: 3;
    display: flex;
    padding-top: 16px;
    width: 100%;
}

.hero-overlay .features {
    gap: 20px;
    width: 100%;
    order: 1;
}

.hero-overlay .feature-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
}

@media screen and (768px <= width <= 1023px) {
    .hero-overlay {
        /* padding: 60px 40px; */
    }
}

@media screen and (1024px <= width <= 1499px) {
    main > .section > div.hero-model-wrapper {
        padding: 0 80px;
    }
}

@media screen and (1500px <= width ) {
    main > .section > div.hero-model-wrapper {
        padding: 0 90px; /* Optional: Can be merged with the previous query */
    }
}