@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
    --wds2-colour-nissanblack: #000; 
    --wds2-colour-nissanwhite: #fff; 
    --wds2-colour-nissangrey: #B4B4B4;
    --wds2-colour-action-hover-onlight: blue;
    --wds2-colour-action-hover-ondark: #000;
    --wds2-colour-action-disabled-ondark: #000;
} */
